body {
    font-family: Arial, sans-serif;
    background: #f2f4f8;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1, p {
    text-align: center;
}

form {
    background: white;
    max-width: 600px;
    margin: 30px auto;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,1);
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input, select, textarea, button{
    width: 100px;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

fieldset {
    border: none;
    margin-top: 15px;
}

legend {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="radio"], input[type="checkbox"] {
    width: auto;
    margin-right: 8px;
}

button {
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    border: none;
}

button:hover {
    background-color: #0056b3;
}
